html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
* {
    margin: 0;      padding: 0;
    outline: none;  border: none;
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
:target {
    scroll-margin-top: 2rem;
}

main {
    margin: 1rem;       padding: 1rem;
    border: 2px solid red;
}