html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
* {
    margin: 0;      padding: 0;
    border: none;   outline: none;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
:target {
    scroll-margin-top: 2rem;
}

