html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
* {
    margin: 0;      padding: 0;
    border: none;   outline: none;
    box-sizing: border-box;
}
[id] {
    scroll-margin-top: 2rem;
}
h3 {
    padding: 1rem;
    background-color: lightpink;
}
section {
    margin: 1rem; 
    padding: 1rem;
    border: 2px solid black;
    display: flex; gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
section > div {
    width: 200px; height: 200px;
    flex-shrink: 0;
    scroll-snap-align: start;
    border: 2px solid blue;
}
button {
    padding: 1rem; margin: 1rem;
    background-color: lightgray;
    font-weight: bolder;
    cursor: pointer;
}

