html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
* {
    margin: 0;      padding: 0;
    border: none;   outline: none;
    box-sizing: border-box;
}
[id] {
    scroll-margin-top: 2rem;
}
/* ================ Masonry Layout ============================================ */
.container {
    columns: 3;   /* OR column-count: 3; */
}
.container > img, .container > p {
    width: 100%;
}