html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
* {
    margin: 0;      padding: 0;
    border: none;   outline: none;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
:target {
    scroll-margin-top: 2rem;
}

main > div {
    margin: 1rem auto 1rem auto; padding: 1rem;
    border: 2px solid red;
    width: 80%; height: 300px;
}

/* =================== CSS : top-progress-bar ==================================== */
.top-progress-bar {
    position: fixed; top: 0; left: 0;
    width: 0; height: 10px;
    background-color: red;
    animation: progress linear;
    animation-timeline: scroll();
    animation-duration: 1ms;
}
@keyframes progress {
    from { width: 0; }
    to { width: 100%; }
}

/* =================== JS : top-progress-bar ==================================== */
.top-progress-bar-js {
    position: fixed; top: 50px; left: 0;
    width: 0; height: 10px;
    background-color: #3498db;
}