html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
*{
    margin: 0;      padding: 0;
    border: none;   outline: none;
    box-sizing: border-box;
}
/***********************  html list ***********************************/
body > div {
    border: 2px solid red;
    width: max-content;
    padding: 2rem;
    margin: 1rem auto 1rem auto;
}

.ul-custom-style1 > li:before {
    content: "\2605";
}

.ul-custom-style2 > li {
    list-style: "❤️";
}