html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
* {
    margin: 0;      padding: 0;
    border: none;   outline: none;
    box-sizing: border-box;
}
[id] {
    scroll-margin-top: 2rem;
}
h1 {
    border: 2px solid red;
    padding: 1rem;
    text-align: center;
    font-size: clamp(50px, 8vw, 100px); /* Responsive font-size */
}
/* =============== Animation on scroll =================================== */

section {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section > div {
    border: 2px solid green;
    margin: 1rem; padding: 1rem;
    width: 40%; height: 250px;
}
