html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
:target {
    scroll-margin-top: 2rem;
}


section>h1 {
    text-align: center;
    background-color: palegoldenrod;
    padding: 1rem;
}

section>div {
    width: 80%;
    min-height: 200px;
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    border: 2px solid red;
    overflow: auto;
}

/* ========================== Preloader with % (Pace.js) ============================ */

.pace-running > *:not(.pace) {
    opacity: 0.3;
    pointer-events: none;   /* Makes element non-clickable */
} 

