html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
}
* {
    margin: 0;      padding: 0;
    border: none;   outline: none;
    box-sizing: border-box;
}
[id] {
    scroll-margin-top: 2rem;
}
/* ----------------------- card slider----------------------------------------- */
section {
    border: 2px solid blue;
    padding: 1rem; margin: 1rem auto 0 auto;
    position: relative;
    width: 80%;  max-width: 20rem;        /* same */
    height: 100%; max-height: 30rem;      /* same */  
}
figure {
    width: 100%;    max-width: 20rem;      /* same */
    height: 100%;   max-height: 30rem;     /* same */
    border: 2px solid red; 
    animation: fade 1.5s;
}
img {
    width: 100%;    max-width: 20rem;       /* same */
    height: 100%;   max-height: 20rem;      /* same */
    object-fit: cover; object-position: center; aspect-ratio: 1/1;
    display: block;         /*To remove extra space around img*/
}
figcaption {
    width: 100%;    max-width:  20rem;      /* same */
    height: 100%;   max-height: 10rem;      /* same */  
    min-height: 10rem;  overflow: auto;     /*Keep the height constant*/
    background-color: pink;
}

/* ----------------------------- optional --------------------------------------------- */
section > .button {
    padding: 1rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f3f3f3;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
section > .btnBack {
    left: 0; top: 50%;
}
section > .btnNext {
    right: 0; top: 50%;
}
@keyframes fade {
    0%{opacity: 0.4;}
    100%{opacity: 1;}
}






