html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;  /* is default font-size. Now 1rem=16px */
}
*{
    margin: 0; padding: 0;
    border: 0; outline: 0;
    box-sizing: border-box; 	/*i.e. content+padding+border = width or height */
}
[id] {	 /*  [attribute selector] : targets all elements that have attribute id */
    scroll-margin-top: 2rem;	    /* 2rem means 2 X 16px = 32px */
}
/**********************************************************/


