<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ui-select</title>
    <meta name="description" content="ui-select">
    <link rel="stylesheet" href="style.css">
    <!--============================ Include AngularJS : UI-Select ==========================-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.2/angular-sanitize.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>
    <!--=====================================================================================-->
</head>

<body ng-app="myApp">
    <main ng-controller="myController">
        <div> 
            <h2>Angularjs - Normal Select</h2>
            <select ng-model="model.countryID" ng-options="t.ID as t.Name for t in CountryList" ng-change="countryChanged(model.countryID)"></select>
        </div>

        <div>
            <h2>Angularjs select2 called - ui-select (simple)</h2>
            <ui-select ng-model="model.countryID" ng-change="countryChanged(model.countryID)" theme="bootstrap" style="width: 300px;">
                <ui-select-match>{{$select.selected.Name}}</ui-select-match>
                <ui-select-choices repeat="x.ID as x in CountryList | filter: $select.search" refresh-delay="300" refresh="refreshCountry($select.search)">
                    <div ng-bind-html="x.Name | highlight: $select.search"></div>
                    <small ng-bind-html="x.Code | highlight: $select.search"></small>   <!-- Optional -->
                </ui-select-choices>
            </ui-select>
        </div>


        <div>
            <h2>Angularjs select2 called - ui-select (multi-select)</h2>
            <ui-select multiple ng-model="model.countryID" ng-change="countryChanged(model.countryID)" theme="bootstrap" style="width: 300px;">
                <ui-select-match>{{$item.Name}}</ui-select-match>
                <ui-select-choices repeat="x.ID as x in CountryList | filter: $select.search" refresh-delay="300" refresh="refreshCountry($select.search)">
                    <div ng-bind-html="x.Name | highlight: $select.search"></div>
                    <small ng-bind-html="x.Code | highlight: $select.search"></small>   <!-- Optional -->
                </ui-select-choices>
            </ui-select>
        </div>


        <div>
            <h2>Angularjs select2 called - ui-select (with image)</h2>
            <ui-select ng-model="model.countryID" ng-change="countryChanged(model.countryID)" theme="bootstrap" style="width: 300px;">
                <ui-select-match>
                    <div>
                        <img ng-src="{{$select.selected.Flag}}" alt="flag" width="24" height="16" style="vertical-align: top;">
                        <span>{{$select.selected.Name}}</span>
                    </div>
                </ui-select-match>
                <ui-select-choices repeat="x.ID as x in CountryList | filter: $select.search">
                    <div>
                        <img ng-src="{{x.Flag}}" alt="flag" width="23" height="15">
                        <span>{{x.Name}}</span>
                    </div>
                </ui-select-choices>
            </ui-select>
        </div>
    </main>


    <script src="./script.js"></script>
</body>
</html>
<!--======== ng-src OR ng-href : both are similar used for creating dynamic path OR links ====================

<img ng-src="{{ '/Flags/photo.png' }}" > 	//passing absolute path i.e. Not Dynamic
<img ng-src"{{x.Path}}"  >			//passing a value i.e. dynamic
<img ng-src="{{getFlag(x)}}" >			//calling a function that returns a path i.e. dynamic
<img ng-src="/Controller/GetFlag?={{x.ID}}" >	//calling backend Controller(api) that returns a path

<a ng-href="{{ 'https://www.google.com' }}  >	//passing absolute path i.e. Not Dynamic
<a ng-href="{{ x.Path }} >			//passing a value i.e. dynamic
<a ng-href="{{ getFlag(x) }}" >			//calling a function that returns a path i.e. dynamic
<a ng-href="/Controller/GetFlag?={{x.ID}}"> 	//calling backend Controller(api) that returns a path 
 -->

